#jumbo {
	font-family: 'Oswald', sans-serif;
	font-family: 'Fjalla One', sans-serif;
	background-image: url(../images/1.png);
	background-color: white;
	background-size: 200px 200px;
	background-position: 1% 75%;
	background-repeat: no-repeat;
	border-style: double;
	border-width: 2px;
	border-color: black;
	height: 200px;
}

body {
	background-image: url(../images/vc_bg.png);
	background-size: cover;
}

.panel {
	color: black;
}


.eventButton {
	min-width: 500px;
}

