body {
	
	background-image: url(../images/vc_bg.png);
	background-size: cover;
	background-position: center;
	height: auto;
	opacity: .5;
}

#jumbo {
	font-family: 'Oswald', sans-serif;
	font-family: 'Fjalla One', sans-serif;
	background-image: url(../images/1.png);
	background-color: white;
	background-size: 200px 200px;
	background-position: 1% 75%;
	background-repeat: no-repeat;
	border-style: double;
	border-width: 2px;
	border-color: black;
	height: 200px;
	color: black;
	opacity: .9;
	
}

#background-pic {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	opacity: 0.6;
}

#mainSearch {
	top: 80px;
	font-size: 20px;
	position: relative;
	overflow: auto;
	left: 300px;
	background: #8C7853;
	border: 1px solid #000;	
	color: black;
	z-index: 10000;
}

.eventButton {
	min-width: 500px;
}



	.container img {
	
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
	    }

#yelpMap {
	
	width: 600px;
	position: absolute;
	overflow: auto;
	left: 600px;
	background: #8C7853;
	float: right;
}

#ticketMasterResults {
	
	position: absolute;
	overflow: auto;
	width: 500px;
	background: #8C7853;
	float: left;

}

footer {
	width: 100%;
	margin-top: 320px;
	border-top: solid;
	border-top-width: 10px;
	border-color: black;
	padding-top: 20px;
	background-color: #8C7853;
	color: white; 	
	text-align: center;
	height: 60px;
	}
